<%- include('header') %>
<%- include('navbar_index') %>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title><%= title %></title>
</head>
<body>



<div class="container">
	<div class="login-form">
		<div class="main-div">
			<div class="panel">
				<h2>Login</h2>
				<p>Please enter your name</p>
		   	</div>

		   	<form action="./matches" method="post">
		   		<div class="form-group">
		   			<input type="text" class="form-control" name="username" placeholder="Name"/>
		        </div>
				<div class="form-group">
		        	<input type="submit" class="form-control" name="action" value="Enter"/>
		        </div>
			</form>
		</div>
		<p class="botto-text">Designed by D4D</p>
	</div>
</div>



</body>
</html>

<%- include('footer') %>
