<%- include('header') %>
<%- include('navbar') %>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title><%= title %></title>
</head>
<body>

<p>
<em>SER422 MVC Ex Landing Page</em>
</p>

<form action="./matches" method="post">
  Username: <input type="text" name="username" size="10"/><br/><br/>
  <input type="submit" name="action" value="Log in"/>
  <input type="submit" name="action" value="survey"/>
  <input type="submit" name="action" value="match"/>
</form>


</body>
</html>

<%- include('footer') %>
