<%- include('header') %>
<%- include('navbar') %>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title><%= title %></title>
</head>
<body>

<p>
<p><b>Thanks for completing the survey!!!</b></p>
</p>
<p>
Go back to the <a href="./">homepage</a>...
</p>

</body>
</html>

<%- include('footer') %>